table {
  width: 100%;
}
.delete {
  transform: scale(0.7);
}
.edit {
  transform: scale(0.7);
}
.search {
  float: left;
}
.mat-form-field {
  margin-right: 60px;
}
.btn {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
