<!-- <div class="container">
    
    <div class="card-con">
    <h2 class="head">Csv Upload</h2>
    <input type="file" (change)="onChange($event)" name="file" class="csv">
    <br><br>

    <button (click)="onUpload()" mat-raised-button color="primary">
        Upload
    </button>
</div>
</div> -->



<div class="container">
   
    <div class="card-con">

    <h2 class="head">Csv Upload</h2>
      
        
      <form class="example-form container">
        
        <input #imageInput type="file" (change)="onChange($event)" name="file"  class="form-control csv"  placeholder="Select Csv" (change)="onChange($event)">
    
        
    
    
        <button (click)="onUpload()" mat-raised-button color="primary" class="btn">Upload</button>
    
    
      </form>
      
    </div>
    </div>
    