<div class="card">
  <img [src]="url" *ngIf="url">
  <img alt="" src="../../assets/istockphoto-1184817738-170667a.jpg" *ngIf="!url" width="550px" height="550px">
  <h2 class="head"></h2>

  <div class="container">

    <mat-list class="listall">

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Name</mat-list-item>
      </div>

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Email</mat-list-item>

      </div>

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Date Of Birth</mat-list-item>
      </div>

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Phone</mat-list-item>
      </div>

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Address</mat-list-item>
      </div>

      <div class="listitemleft">
        <mat-list-item role="listitem" class="list-left">Type</mat-list-item>
      </div>


    </mat-list>

    <mat-list class="listall">

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right">{{ username }}</mat-list-item>
      </div>

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right">{{ useremail }}</mat-list-item>
      </div>

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right">{{ userdob }}</mat-list-item>

      </div>

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right">{{ userphone }}</mat-list-item>

      </div>

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right">{{ useraddress }}</mat-list-item>

      </div>

      <div class="listitemright">
        <mat-list-item role="listitem" class="list-right" *ngIf="usertype == '1'">Admin</mat-list-item>
        <mat-list-item role="listitem" class="list-right" *ngIf="usertype == '0'">User</mat-list-item>

      </div>
    </mat-list>



  </div>
  <div class="flex-container">
    <button mat-raised-button color="primary" type="button" class="btn-edit" (click)="userupdate()">Update</button>
    <button mat-raised-button color="warn" type="submit" class="btn-cancle" routerLink="/edit-user">Cancel</button>
  </div>
</div>