.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    margin:0 auto;
    margin-top:60px;
    display:flex;
    
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    display:flex;
    
    margin-bottom:30px;
}
.list-left{
    
    margin-left:45px;
    font-size:17px;
}
.list-right{
    margin-left:115px;
    font-size:17px;

}
.btn-edit{
    width:115%;
    margin:0 auto;
    margin-top:30px;
}
.btn-cancle{
    width:64%;
    margin-left:104px;
    margin-top:30px;
}

  
 